body {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: black;
    background: #3a4563;
}

table {
    width: 600px;
    height: auto;
    border: 1px solid black;
    border-radius: 5%;
    margin: 0 auto;
}

table tr:hover td {
    background: rgba(0,0,0,0.1);
    color: burlywood;
    border-radius: 5%;
}

table th {
    color: burlywood;
    width: 10%;
    font-size: 20px;
    font-weight: bold;
}

table tr:hover th {
    color: black;
    background: white;
    border-radius: 5%;
}

table td {
    border: 1px solid  #3a4563;
    background: white;
    border-radius: 5%;
}


.top {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}